<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <!-- Base URL of the team sites -->
    <add key="URLTeamSitesBase" value="https://teams.intra.pol.net.fr.ch/" />
    <!-- Domains available on the team sites -->
    <add key="DomainsTeamSites" value="pol,cdmt,gend,ps,rh,sg,societe" />
    <!-- Verbose information on execution of the application -->
    <add key="Verbose" value="True" />
    <!-- Name of the base folder -->
    <add key="NameBaseFolder" value="TEAMS" />
    <!-- URL of the document library -->
    <add key="DocsLibrary" value="Documents partages" />
  </appSettings>
</configuration>